{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-end mb-4">
    <button type="button" class="btn btn-outline-secondary ml-auto" data-bs-toggle="modal"
        data-bs-target="#pathModal">
        Sheet name: {{ spreadsheet_id }}
    </button>
    <button type="button" class="btn btn-outline-secondary ml-2" data-bs-toggle="modal"
        data-bs-target="#passwordModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8 0c-.69 0-1.843.265-2.928.560-1.11.300-2.229.655-2.887.870a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.990a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.240a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.990a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.870C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.990a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.990A1.5 1.5 0 0 1 8 5z" />
        </svg>
    </button>
</div>

{% include 'pathModal.html' %}
{% include 'passwordModal.html' %}

<div class="row justify-content-center pr-sm-4">
    <div class="col-sm-6 col-md-4 mb-4" >
        <img src="{% static 'tjej.png' %}" class="rounded img-fluid" alt="...">
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3 pt-3">
                    <label class="input-group-text" for="id_name">Namn</label>
                    <input type="text" class="form-control" name="name" id="id_name" required>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="id_age">Ålder</label>
                    <input type="number" class="form-control" name="age" id="id_age" required>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="{{ form.stadsdel.id_for_label }}" data-bs-toggle="popover"
                           data-bs-placement="left" title="Popover Title" data-bs-content="baby">Stadsdel</label>
                    <select class="form-control" name="{{ form.stadsdel.html_name }}" id="{{ form.stadsdel.auto_id }}" {% if form.stadsdel.multiple %}multiple{% endif %}>
                        {% for value, display_name in form.stadsdel.field.choices %}
                            <option value="{{ value }}"{% if value in form.stadsdel.value %} selected{% endif %}>{{ display_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <p class="lead pr-sm-4" style="font-size: 12px;">
                    Du kan kolla <a
                        href="https://goteborg.se/wps/portal/start/kommun-och-politik/om-goteborg/stadsomraden-och-mellanomraden">här</a>
                    för att veta vilken är ditt stadsdel.
                </p>

                <div class="input-group mb-3 pt-1">
                    <label class="input-group-text" for="id_idrott">Idrott</label>
                    <input type="text" class="form-control" name="idrott" id="id_idrott" required>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="id_önskad_idrott">Önskad Idrott</label>
                    <input type="text" class="form-control" name="önskad_idrott" id="id_önskad_idrott" required>
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="in_a_union" id="id_in_a_union">
                    <label class="form-check-label" for="id_in_a_union">Förening?</label>
                </div>

                <button type="submit" class="btn btn-outline-success">Klar</button>

                {% if message %}
                {% if is_error %}
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
</div>

<br>
<script src="{% static 'js/modalsAlerts.js' %}"></script>
{% endblock %}
